.wallet {
	padding: 10px;
}
.wallet-wrap {
	display: flex;
}
.val-wrap-gray {
	border-radius: 5px;
	padding: 5px;
	margin: 0 5px;
}
.credit {
	background-color: #26de81;
}
.debit {
	background-color: #ff231f;
}