<div class="settings mtb15">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Security Information</h5>
        <div class="settings-profile">
          <form [formGroup]="changePassForm">
            <div class="col-md-12 info-wrap">
              <label> Current password </label>
              <input type="text" class="form-control" placeholder="Enter your password"
                formControlName="currentPassword" />
            </div>
            <div class="col-md-12 info-wrap"> <label for="newPass">New password</label>
              <input type="text" class="form-control" placeholder="Enter new password" formControlName="newPassword" />
              <div class="validation-warn-msg" *ngIf="formValues.newPassword.errors?.['minlength']">
                Password should have minimum 6 characters
              </div>
            </div>
            <div class="col-md-12 info-wrap"> <label for="newPass">Confirm New password</label>
              <input type="text" class="form-control" placeholder="Enter new password"
                formControlName="confirmNewPassword" />
              <div class="validation-warn-msg" *ngIf="formValues.confirmNewPassword?.errors?.mustMatch">
                Password and confirm not match
              </div>
            </div>
            <div class="col-md-12">
              <button class="btn btn-primary" [disabled]="!(changePassForm.valid && changePassForm.dirty)"
                (click)="onUpdatePassword()">Update
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>