<div class="settings mtb15">
  <div class="container-fluid">

    <div class="trading-wrap" *ngIf="nseTrading">
      <h5 class="card-title">NSE: Trading Enabled</h5>
      <div class="card">
        <div>
          <div class="trading-item">
            <label for="" class="settings-label">Brokerage</label>
            <span>{{nseTrading.brokerage}}</span>
          </div>
          <div class="trading-item">
            <label for="" class="settings-label">Margin Intraday</label>
            <span>{{nseTrading.margin_intraday}}</span>
          </div>
          <div class="trading-item">
            <label for="" class="settings-label">Margin Holding</label>
            <span>{{nseTrading.margin_holding}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="trading-wrap" *ngIf="mcxTrading">
      <h5 class="card-title">MCX: Trading Enabled</h5>
      <div class="card">
        <div>
          <div class="trading-item">
            <label for="" class="settings-label">Exposure Type</label>
            <span>{{mcxTrading.exposure_type}}</span>
          </div>
          <div class="trading-item">
            <label for="" class="settings-label">Brokerage</label>
            <span>{{mcxTrading.brokerage}}</span>
          </div>
          <div class="trading-item">
            <label for="" class="settings-label">Margin Intraday</label>
            <span>{{mcxTrading.margin_intraday}}</span>
          </div>
          <div class="trading-item">
            <label for="" class="settings-label">Margin Holding</label>
            <span>{{mcxTrading.margin_holding}}</span>
          </div>
          <div class="trading-item">
            <label for="" class="settings-label">Brokerage Type</label>
            <span>{{mcxTrading.brokerage_type}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="card-body">
        <h5 class="card-title">General Information</h5>
        <div class="settings-profile">
          <form>
            <img src="../../../assets/img/avatar.svg" alt="avatar" />
            <div class="custom-file">
              <input type="file" class="form-control" />
            </div>

            <div class="row mt-4">
              <div class="col-md-6">
                <label for="formFirst">First name</label>
                <input id="formFirst" type="text" class="form-control" placeholder="First name" />
              </div>
              <div class="col-md-6">
                <label for="formLast">Last name</label>
                <input id="formLast" type="text" class="form-control" placeholder="Last name" />
              </div>
              <div class="col-md-6">
                <label for="emailAddress">Email</label>
                <input id="emailAddress" type="text" class="form-control" placeholder="Enter your email" />
              </div>
              <div class="col-md-6">
                <label for="phoneNumber">Phone</label>
                <input id="phoneNumber" type="text" class="form-control" placeholder="Enter phone number" />
              </div>
              <div class="col-md-6">
                <label for="selectLanguage">Language</label>
                <select id="selectLanguage" class="form-select">
                  <option defaultValue>English</option>
                  <option>Mandarin Chinese</option>
                  <option>Spanish</option>
                  <option>Arabic</option>
                  <option>Russian</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="selectCurrency">Currency</label>
                <select id="selectCurrency" class="form-select">
                  <option defaultValue>USD</option>
                  <option>EUR</option>
                  <option>GBP</option>
                  <option>CHF</option>
                </select>
              </div>
              <div class="col-md-12">
                <input type="submit" value="Update" />
              </div>
            </div>
          </form>
        </div>
      </div> -->

  </div>
</div>