<div class="porfolio-wrapper">
	<div class="card">
		<div class="col-md-12 col-sm-12">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<span class="porfolio-title">Ledger Balance</span>
					<span>474</span>
				</div>
				<div class="col-md-6 col-sm-6">
					<span class="porfolio-title">Margin Available</span>
					<span>74</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<span class="porfolio-title">Active P/L</span>
					<span>0</span>
				</div>
				<div class="col-md-6 col-sm-6">
					<span class="porfolio-title">M2M</span>
					<span>374</span>
				</div>
			</div>

		</div>
	</div>
</div>
