<div class="porfolio-wrapper">
	<div class="card" style="font-size:20px;" *ngIf="portfolio">
		<div class="col-md-12 col-sm-12">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<span class="porfolio-title">Ledger Balance</span>
					<span>{{portfolio.ledgerBalance}}</span>
				</div>
				<div class="col-md-6 col-sm-6">
					<span class="porfolio-title">Margin Available</span>
					<span>{{portfolio.marginAvailable}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<span class="porfolio-title">Active P/L</span>
					<span>{{portfolio.activePl}}</span>
				</div>
				<div class="col-md-6 col-sm-6">
					<span class="porfolio-title">M2M</span>
					<span>{{portfolio.m2m}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="card" *ngIf="orderList">
		<div class="" style="border-bottom: 1px solid black;margin-bottom: 5px;" *ngFor="let trade of orderList">
			<div class="col-md-12 col-sm-12">
				<div class="row close-trade-row">
				  <div class="col-md-12">
					<div class="d-flex justify-content-between">
					<div>
					  <span class="val-wrap-green" *ngIf="trade.action == 'Buy'"> {{trade.action}} X
						{{trade.remaining_qty}}</span>
					  <span class="val-wrap-red" *ngIf="trade.action == 'Sell'"> {{trade.action}} X
						{{trade.remaining_qty}}</span>
					  <span class="val-wrap-green">{{trade.order_type}}</span>
					</div>
					<span class="fw-bold ms-2">{{trade.formatted_date}}</span>
				  </div>
				  </div>
	  
				</div>
	  
				<div class="row close-trade-row">
				  <div class="col-8 col-md-8 col-sm-8">
					<span class="fw-bold">{{trade.trading_symbol}} @ {{trade.amount}}</span>
					
				  </div>
				  <div class="col-4 col-md-4 col-sm-4  close-end-col">

					<span class="fw-bold ms-4" [ngStyle]="{'color': (((trade.cmp - trade.amount)*trade.qty) >= 0 ) ? '#84ebb7' : '#f70c08'}" *ngIf="trade.action == 'Buy'  && trade.exchnage_type == 1">{{(trade.cmp - trade.amount)*trade.qty | number : '1.2-2'}}</span>

					<span class="fw-bold ms-4" [ngStyle]="{'color': (((trade.cmp - trade.amount)*trade.qty*lot_size) >= 0 ) ? '#84ebb7' : '#f70c08'}" *ngIf="trade.action == 'Buy' && trade.exchnage_type == 2">{{(trade.cmp - trade.amount)*trade.qty*trade.lot_size | number : '1.2-2'}}</span>

					<span class="fw-bold ms-4" [ngStyle]="{'color': (((trade.amount - trade.cmp)*trade.qty) >= 0 ) ? '#84ebb7' : '#f70c08'}" *ngIf="trade.action == 'Sell' && trade.exchnage_type == 1">{{(trade.amount - trade.cmp)*trade.qty | number : '1.2-2'}}</span>

					<span class="fw-bold ms-4" [ngStyle]="{'color': (((trade.amount - trade.cmp)*trade.qty*lot_size) >= 0 ) ? '#84ebb7' : '#f70c08'}" *ngIf="trade.action == 'Sell'  && trade.exchnage_type == 2">{{(trade.amount - trade.cmp)*trade.qty*trade.lot_size | number : '1.2-2'}}</span>
				  </div>
				</div>
	  
  
				<div class="row close-trade-row">
				  <div class="col-6 col-md-6 col-sm-6 ">
					<span>Margin Used : </span>
					<span class="fw-bold ms-2">{{trade.margin}}</span>
				  </div>
				  <div class="col-6 col-md-6 col-sm-6 close-end-col">
					<span>CMP: </span>
					<span class="fw-bold ms-2">{{trade.cmp}}</span>
				  </div>
	  
				</div>
	  
			  </div>
		</div>
	</div>
</div>