<div *ngIf="loading" class="loading-indicator"></div>
<div class="market-pairs">
  <div class="input-group">
    <ng-multiselect-dropdown 
      class="watchlist-search" [placeholder]="'Search and Add'" 
      [settings]="dropdownSettings" [data]="futureStockList" 
      [(ngModel)]="selectedStocks" (onDeSelect)="onItemDeSelect($event)" 
      (onDropDownClose)="onDropDownClose()">
    </ng-multiselect-dropdown>

  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="mcx-id" data-bs-toggle="tab" data-bs-target="#mcx" type="button" role="tab"
        aria-controls="mcx" aria-selected="false" (click)="onNavSelect('NFO')">
        NSE Futures
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="kcs-id" data-bs-toggle="tab" data-bs-target="#nse" type="button" role="tab"
        aria-controls="kcs" aria-selected="false" (click)="onNavSelect('MCX')">
        MCX Futures
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="usdt-id" data-bs-toggle="tab" data-bs-target="#other" type="button" role="tab"
        aria-controls="usdt" aria-selected="false" (click)="onNavSelect('OTH')">
        Other
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="mcx" role="tabpanel" aria-labelledby="mcx-id">
      <table class="table star-active">
        <thead>
          <tr>
            <th>Script</th>
            <th>LTP</th>
            <th>Change</th>
            <th>High</th>
            <th>Low</th>
            <th>Open</th>
            <th>Close</th>
            <th>Volume</th>
            <th>Sell</th>
            <th>Buy</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tickerVal of favouriteFutureStocks" class="ticker-row">
            <td width="13%">{{tickerVal.stockName}} </td>
            <td width="9%"> {{tickerVal.lastPrice}} </td>
            <td width="9%"> {{tickerVal.change}}%</td>
            <!-- <td class="alignleft"> {{(tickerVal.lastPrice - tickerVal.ohlc.close) * 100 / tickerVal.ohlc.close || 0 | number}} %</td> -->
            <td width="9%"> {{tickerVal.ohlc?.high || 0}}</td>
            <td width="9%"> {{tickerVal.ohlc?.low || 0}}</td>
            <td width="9%"> {{tickerVal.ohlc?.open || 0}}</td>
            <td width="9%"> {{tickerVal.ohlc?.close || 0}}</td>
            <td width="9%"> {{tickerVal.volume}}</td>
            <td width="9%">
              <button class="btn buy" 
                (click)="openDialog('buy', tickerVal)">Buy</button>
            </td>
            <td width="9%">
              <button class="btn sell" 
                (click)="openDialog('sell', tickerVal)">Sell</button>
            </td>
            <td width="3%">
              <div (click)="onDeleteStockItem(tickerVal)">
                <i class="icon ion-ios-trash"></i>
              </div>
            </td>
          </tr>
          <!-- <tr>
            <td><i class="icon ion-md-star"></i> KCS/BTC</td>
            <td>0.00013192</td>
            <td class="green">+5.6%</td>            
            <td class="red">-2.58%</td>
          </tr> -->
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="nse" role="tabpanel" aria-labelledby="kcs-id">
      <table class="table">
        <thead>
          <tr>
            <th>Script</th>
            <th>LTP</th>
            <th>Change</th>
            <th>High</th>
            <th>Low</th>
            <th>Open</th>
            <th>Close</th>
            <th>Volume</th>
            <th>Sell</th>
            <th>Buy</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>BTC/ETH</td>
            <td>0.00020255</td>
            <td class="green">+1.58%</td>
            <td>BTC/ETH</td>
            <td>0.00020255</td>
            <td class="green">+1.58%</td>
            <td>BTC/ETH</td>
            <td>0.00020255</td>
            <td width="10%">
              <button class="btn buy">Buy</button>
            </td>
            <td width="10%"><button class="btn sell">Sell</button></td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="usdt-id">
      <table class="table">
        <thead>
          <tr>
            <th>Script</th>
            <th>LTP</th>
            <th>Change</th>
            <th>High</th>
            <th>Low</th>
            <th>Open</th>
            <th>Close</th>
            <th>Volume</th>
            <th>Sell</th>
            <th>Buy</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="buyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Buy stock Name</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>