<div class="trades">
  <div class="input-group" style="margin-top:10px;">
    <ng-multiselect-dropdown class="watchlist-search" [placeholder]="'Search and Add'" [settings]="dropdownSettings"
      [data]="futureStockList" [(ngModel)]="selectedStocks" (onDeSelect)="onItemDeSelect($event)"
      (onDropDownClose)="onDropDownClose()">
    </ng-multiselect-dropdown>

  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="kcs-id" data-bs-toggle="tab" type="button" role="tab" aria-controls="kcs"
        aria-selected="false" (click)="onNavSelect('MCX')">
        MCX Futures
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="mcx-id" data-bs-toggle="tab" type="button" role="tab" aria-controls="mcx"
        aria-selected="false" (click)="onNavSelect('NFO')">
        NSE Futures
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="usdt-id" data-bs-toggle="tab" type="button" role="tab" aria-controls="usdt"
        aria-selected="false" (click)="onNavSelect('OTH')">
        Other
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" role="tabpanel">
      <div *ngIf="favouriteFutureStocks && favouriteFutureStocks.length" class="trade-card-list" >
      <div class="close-trade-card" *ngFor="let tickerVal of favouriteFutureStocks">
          <div class="col-md-12 col-sm-12">
            <div class="row close-trade-row">
              <div class="col-md-12 col-sm-12">
                <span class="trade-name fw-bold">{{tickerVal.stockName}}</span>
                <span class="val-wrap-green">LTP - {{tickerVal.lastPrice}}</span>
              </div>
            </div>
            <div class="row close-trade-row">
              <div class="col-md-12 col-sm-12">
                <span class="trade-info">Change : <span class="fw-bold">{{tickerVal.change}}%</span> </span>
                <span class="trade-info">High : <span class="fw-bold">{{tickerVal.ohlc?.high || 0}}</span></span>
                <span class="trade-info">Low : <span class="fw-bold">{{tickerVal.ohlc?.low || 0}}</span> </span>
                <span class="trade-info">Open : <span class="fw-bold">{{tickerVal.ohlc?.open || 0}}</span></span>
              </div>
            </div>
            <div class="row close-trade-row">
              <div class="col-md-12 col-sm-12">
                <span class="trade-info">close : <span class="fw-bold">{{tickerVal.ohlc?.close || 0}}</span> </span>
                <span class="trade-info">volume : <span class="fw-bold">{{tickerVal.volume}}</span></span>
                <span class="val-wrap-green cursor-pointer" style="font-size: 25px;
    width: 85px !important;
    display: inline-block;
    text-align: center;" (click)="openDialog('buy', tickerVal)">Buy</span>
                <span class="val-wrap-red cursor-pointer" style="font-size: 25px;
    width: 85px !important;
    display: inline-block;
    text-align: center;" (click)="openDialog('sell', tickerVal)">Sell</span>
                <span class="material-symbols-outlined cursor-pointer delete-icon" style="    margin-top: 10px;
    float: right;" (click)="onDeleteStockItem(tickerVal)"> delete_forever </span>
              </div>
              
            </div>
          </div>          
        </div>
      </div>
      <table class="table star-active" *ngIf="!favouriteFutureStocks || !favouriteFutureStocks.length">
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody *ngIf="!favouriteFutureStocks || !favouriteFutureStocks.length">
          <tr>
            <td colspan="8" class="no-data">No data available.</td>
          </tr>
        </tbody>
        <!--<tbody *ngIf="favouriteFutureStocks && favouriteFutureStocks.length">
          <tr *ngFor="let tickerVal of favouriteFutureStocks" class="ticker-row">
            <td width="13%" style="text-align:left;">{{tickerVal.stockName}} </td>
            <td width="9%" style="text-align:right;"> {{tickerVal.lastPrice}} </td>
            <td width="9%" style="text-align:right;"> {{tickerVal.change}}%</td>
             <td class="alignleft"> {{(tickerVal.lastPrice - tickerVal.ohlc.close) * 100 / tickerVal.ohlc.close || 0 | number}} %</td> 
            <td width="9%" style="text-align:right;"> {{tickerVal.ohlc?.high || 0}}</td>
            <td width="9%" style="text-align:right;"> {{tickerVal.ohlc?.low || 0}}</td>
            <td width="9%" style="text-align:right;"> {{tickerVal.ohlc?.open || 0}}</td>
            <td width="9%" style="text-align:right;"> {{tickerVal.ohlc?.close || 0}}</td>
            <td width="9%" style="text-align:right;"> {{tickerVal.volume}}</td>
            <td width="5%" style="text-align:right;">
              <div class="buy-icon" (click)="openDialog('buy', tickerVal)">
                Buy
              </div>
            </td>
            <td width="5%" style="text-align:right;">
              <div class="sell-icon" (click)="openDialog('sell', tickerVal)">
                Sell
              </div>
            </td>
            <td width="5%" style="text-align:right;">
              <div class="delete-icon" (click)="onDeleteStockItem(tickerVal)">
                <span class="material-symbols-outlined"> delete_forever </span>
              </div>
            </td>
          </tr>
           <tr>
            <td><i class="icon ion-md-star"></i> KCS/BTC</td>
            <td>0.00013192</td>
            <td class="green">+5.6%</td>            
            <td class="red">-2.58%</td>
          </tr> 
        </tbody>-->
      </table>
    </div>
  </div>
</div>

<!-- <div class="mobile-bottom-menu">
  <ul>
    <li class="active">Watchlist</li>
    <li>Trades</li>
    <li>Portifolio</li>
    <li>Profile</li>
  </ul>
</div> -->