.ticker-row {
	cursor: pointer;
}

button.buy {
	width: 100px;
	background: #26de81;
	color: #fff;
	text-transform: uppercase;
	padding: 10px;
	box-shadow: 0px 0px 15px 0px #26de81ad;
}

button.sell {
	width: 100px;
	background: #ff231f;
	color: #fff;
	text-transform: uppercase;
	padding: 10px;
	box-shadow: 0px 0px 15px 0px #ff231fad;
}

.title {
	text-transform: capitalize;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
