.delete-icon {
	color: #ff231f;
	cursor: pointer;
}
.buy-icon {
	color: #26de81;
	cursor: pointer;
}
.sell-icon {
	color: #0d6efd;
	cursor: pointer;
}
.cursor-pointer {
	cursor: pointer;
}
button.buy {
	width: 100px;
	background: #26de81;
	color: #fff;
	text-transform: uppercase;
	padding: 10px;
	box-shadow: 0px 0px 5px 0px #26de81;
}
button.sell {
	width: 100px;
	background: #0d6efd;
	color: #fff;
	text-transform: uppercase;
	padding: 10px;
	box-shadow: 0px 0px 5px 0px #46abf8;
}
.title {
	text-transform: capitalize;
}
.watchlist-search {
	width: 100%;
}
.stocklist-wrapper {
  width: 100%;
}
// .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
span.selected-item {
	max-width: auto !important;
}
.icon {
	font-size: xx-large;
}
.no-data {
	text-align: center;
	font-size: 20px;
}