<div class="trades">

  <ul class="nav nav-tabs col-sm-12 col-md-12" id="myTab" role="tablist">
    <li class="nav-item col-sm-4 col-md-4" role="presentation">
      <button class="nav-link active" id="pending-id" data-bs-toggle="tab" type="button" role="tab"
        aria-controls="pending" aria-selected="false" (click)="getTrades('pending')">
        Pending
      </button>
    </li>
    <li class="nav-item col-sm-4 col-md-4" role="presentation">
      <button class="nav-link" id="active-id" data-bs-toggle="tab" type="button" role="tab" aria-controls="active"
        aria-selected="false" (click)="getTrades('active')">
        Active
      </button>
    </li>
    <li class="nav-item col-sm-4 col-md-4" role="presentation">
      <button class="nav-link" id="closed-id" data-bs-toggle="tab" type="button" role="tab" aria-controls="closed"
        aria-selected="false" (click)="getTrades('closed')">
        Closed
      </button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="msg-wrap" *ngIf="!this.tradeList || !this.tradeList.length">
      <span class="warn-title" *ngIf="this.tradeStatus == 'pending'" >No Pending Orders...</span>
      <span *ngIf="this.tradeStatus == 'pending'">Place an order from Watchlist</span>
      <span class="warn-title" *ngIf="this.tradeStatus == 'active'" >No Active Orders...</span>
      <span class="warn-title" *ngIf="this.tradeStatus == 'closed'" >No Closed Orders...</span>
    </div>
    <div *ngIf="this.tradeList && this.tradeList.length">
      <div class="close-trade-card" *ngFor="let trade of tradeList">
        <div class="col-md-12 col-sm-12" *ngIf="trade.status == 1 || trade.status == 3">
          <div class="row close-trade-row" >
            <div class="col-md-6 col-sm-6">
              <span>{{trade.trading_symbol}} </span>
            </div>
            <div class="col-md-6 col-sm-6 close-end-col">
              <span class="val-wrap-green" >{{trade.amount}}</span>
              <span class="val-wrap-green" *ngIf="trade.action == 'Buy'">{{trade.action}} X {{trade.remaining_qty}}</span>
              <span class="val-wrap-red" *ngIf="trade.action == 'Sell'">{{trade.action}} X {{trade.remaining_qty}}</span>
            </div>
          </div>
          <div class="row close-trade-row">
            <div class="col-md-6 col-sm-6">
              <span>Order Placed @</span>
            </div>
            <div class="col-md-6 col-sm-6  close-end-col">
              <span>{{trade.formatted_date}}</span>
            </div>
          </div>
          <div class="row close-trade-row" *ngIf="trade.status == 1">  
            <div class="col-md-6 col-sm-6 ">
              <span>Margin Req : </span>
              <span>{{trade.margin}}</span>
            </div>
            <div class="col-md-6 col-sm-6  close-end-col" style="cursor: pointer;" 
              (click)="onCancelClick(trade)">
              <span class="val-wrap-red">Cancel Order</span>
            </div>
          </div>

          <div class="row close-trade-row" *ngIf="trade.status == 3">  
            <div class="col-md-6 col-sm-6 ">
              <span>Cancelled By Trader: </span>
            </div>
            <div class="col-md-6 col-sm-6  close-end-col">
              <span>{{trade.updated_date}}</span>
            </div>
          </div>

        </div>

        <div class="col-md-12 col-sm-12" *ngIf="trade.status == 0">
          <div class="row close-trade-row" >
            <div class="col-md-6 col-sm-6">
              <span class="val-wrap-green" *ngIf="trade.action == 'Buy'"> {{trade.action}} X {{trade.remaining_qty}}</span>
              <span class="val-wrap-red" *ngIf="trade.action == 'Sell'"> {{trade.action}} X {{trade.remaining_qty}}</span>
              <span class="val-wrap-green">{{trade.order_type}}</span>
            </div>

            <div class="col-md-6 col-sm-6 close-end-col">
                <span>{{trade.formatted_date}}</span>
            </div>
          </div>

          <div class="row close-trade-row" >
            <div class="col-md-6 col-sm-6">
              <span>{{trade.trading_symbol}}</span>
            </div>
            <div class="col-md-6 col-sm-6  close-end-col">
              <span>{{trade.amount}}</span>
            </div>
          </div>

          <div class="row close-trade-row">
            <div class="col-md-6 col-sm-6" *ngIf="trade.action == 'Buy'">
              <span>Bought By Trader</span>
            </div>
            <div class="col-md-6 col-sm-6" *ngIf="trade.action == 'Sell'">
              <span>Sold By Trader</span>
            </div>
            <div class="col-md-6 col-sm-6  close-end-col" style="cursor: pointer;" 
              (click)="onCloseClick(trade)">
              <span class="val-wrap-red">Close Order</span>
            </div>
          </div>

          <div class="row close-trade-row">  
            <div class="col-md-6 col-sm-6 ">
              <span>Margin Used : </span>
              <span>{{trade.margin}}</span>
            </div>

          </div>

        </div>


        <div class="col-md-12 col-sm-12" *ngIf="trade.status == 2">
          <div class="row close-trade-row" >
            <div class="col-md-6 col-sm-6">
              <span>{{trade.trading_symbol}}</span>
            </div>

            <div class="col-md-6 col-sm-6 close-end-col">
                <span class="val-wrap-green">QTY : {{trade.remaining_qty}}</span>
            </div>
          </div>

          <div class="row close-trade-row">
            <div class="col-md-6 col-sm-6">
              <span>Sold By Trader</span>
              <span class="val-wrap-red" *ngIf="trade.action == 'Buy'">{{trade.processed_amount}}</span>
              <span class="val-wrap-red" *ngIf="trade.action == 'Sell'">{{trade.amount}}</span>
            </div>

            <div class="col-md-6 col-sm-6 close-end-col">
              <span>Bought By Trader</span>
              <span class="val-wrap-red" *ngIf="trade.action == 'Buy'">{{trade.amount}}</span>
              <span class="val-wrap-red" *ngIf="trade.action == 'Sell'">{{trade.processed_amount}}</span>
            </div>
          </div>

          <div class="row close-trade-row">
            <div class="col-md-6 col-sm-6">
              <span *ngIf="trade.action == 'Buy'">{{trade.processed_date | date:'MMMM d , H:mm:s'}}</span>
              <span *ngIf="trade.action == 'Sell'">{{trade.formatted_date}}</span>
              <span class="val-wrap-green">{{trade.order_type}}</span>
            </div>
            <div class="col-md-6 col-sm-6  close-end-col">
              <span *ngIf="trade.action == 'Buy'">{{trade.formatted_date}}</span>
              <span *ngIf="trade.action == 'Sell'">{{trade.processed_date | date:'MMMM d , H:mm:s'}}</span>
              <span class="val-wrap-green">{{trade.order_type}}</span>
            </div>
          </div>




        </div>

      </div>
    </div>















    <!-- 
      <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-id">
        <div class="msg-wrap">
          <span class="warn-title">No Pending Orders...</span>
          <span>Place an order from Watchlist</span>
        </div>
      </div>
      <div class="tab-pane fade" id="active" role="tabpanel" aria-labelledby="active-id">
        <div class="msg-wrap">
          <span class="warn-title">No Active Trades...</span>
        </div>
      </div>
      <div class="tab-pane fade close-trade-wrap" id="closed" role="tabpanel" aria-labelledby="closed-id">
        <div class="close-trade-card">
          <div class="col-md-12 col-sm-12">
            <div class="row close-trade-row">
              <div class="col-md-6 col-sm-6">
                <span>BankNifty_24Feb2022</span>
              </div>
              <div class="col-md-6 col-sm-6 close-end-col">
                <span class="val-wrap-green">68.2/-2.54</span>
                <span class="val-wrap-green">QTY: 1</span>
              </div>
            </div>
            <div class="row close-trade-row">
              <div class="col-md-6 col-sm-6">
                <span>Sold By Trader</span>
                <span class="val-wrap-red">37079.85</span>
              </div>
              <div class="col-md-6 col-sm-6 close-end-col">
                <span>Bought By Trader</span>
                <span class="val-wrap-green">37079.85</span>
              </div>
            </div>
            <div class="row close-trade-row">
              <div class="col-md-6 col-sm-6">
                <span>24Feb, 09:21</span>
                <span class="val-wrap-green">MARKET</span>
              </div>
              <div class="col-md-6 col-sm-6 close-end-col">
                <span>24Feb, 09:21</span>
                <span class="val-wrap-green">MARKET</span>
              </div>
            </div>
          </div>          
        </div>
        <div class="close-trade-card">
          <div class="col-md-12 col-sm-12">
            <div class="row close-trade-row">
              <div class="col-md-6 col-sm-6">
                <span>BankNifty_24Feb2022</span>
              </div>
              <div class="col-md-6 col-sm-6 close-end-col">
                <span class="val-wrap-green">68.2/-2.54</span>
                <span class="val-wrap-green">QTY: 1</span>
              </div>
            </div>
            <div class="row close-trade-row">
              <div class="col-md-6 col-sm-6">
                <span>Sold By Trader</span>
                <span class="val-wrap-red">37079.85</span>
              </div>
              <div class="col-md-6 col-sm-6 close-end-col">
                <span>Bought By Trader</span>
                <span class="val-wrap-green">37079.85</span>
              </div>
            </div>
            <div class="row close-trade-row">
              <div class="col-md-6 col-sm-6">
                <span>24Feb, 09:21</span>
                <span class="val-wrap-green">MARKET</span>
              </div>
              <div class="col-md-6 col-sm-6 close-end-col">
                <span>24Feb, 09:21</span>
                <span class="val-wrap-green">MARKET</span>
              </div>
            </div>
          </div>
          
        </div>
        <div class="close-trade-card">
          <div class="col-md-12 col-sm-12">
            <div class="row close-trade-row">
              <div class="col-md-6 col-sm-6">
                <span>BankNifty_24Feb2022</span>
              </div>
              <div class="col-md-6 col-sm-6 close-end-col">
                <span class="val-wrap-green">68.2/-2.54</span>
                <span class="val-wrap-green">QTY: 1</span>
              </div>
            </div>
            <div class="row close-trade-row">
              <div class="col-md-6 col-sm-6">
                <span>Sold By Trader</span>
                <span class="val-wrap-red">37079.85</span>
              </div>
              <div class="col-md-6 col-sm-6 close-end-col">
                <span>Bought By Trader</span>
                <span class="val-wrap-green">37079.85</span>
              </div>
            </div>
            <div class="row close-trade-row">
              <div class="col-md-6 col-sm-6">
                <span>24Feb, 09:21</span>
                <span class="val-wrap-green">MARKET</span>
              </div>
              <div class="col-md-6 col-sm-6 close-end-col">
                <span>24Feb, 09:21</span>
                <span class="val-wrap-green">MARKET</span>
              </div>
            </div>
          </div>
          
        </div>
        <div class="close-trade-card">
          <div class="col-md-12 col-sm-12">
            <div class="row close-trade-row">
              <div class="col-md-6 col-sm-6">
                <span>BankNifty_24Feb2022</span>
              </div>
              <div class="col-md-6 col-sm-6 close-end-col">
                <span class="val-wrap-green">68.2/-2.54</span>
                <span class="val-wrap-green">QTY: 1</span>
              </div>
            </div>
            <div class="row close-trade-row">
              <div class="col-md-6 col-sm-6">
                <span>Sold By Trader</span>
                <span class="val-wrap-red">37079.85</span>
              </div>
              <div class="col-md-6 col-sm-6 close-end-col">
                <span>Bought By Trader</span>
                <span class="val-wrap-green">37079.85</span>
              </div>
            </div>
            <div class="row close-trade-row">
              <div class="col-md-6 col-sm-6">
                <span>24Feb, 09:21</span>
                <span class="val-wrap-green">MARKET</span>
              </div>
              <div class="col-md-6 col-sm-6 close-end-col">
                <span>24Feb, 09:21</span>
                <span class="val-wrap-green">MARKET</span>
              </div>
            </div>
          </div>
          
        </div>
        <div class="close-trade-card">
          <div class="col-md-12 col-sm-12">
            <div class="row close-trade-row">
              <div class="col-md-6 col-sm-6">
                <span>BankNifty_24Feb2022</span>
              </div>
              <div class="col-md-6 col-sm-6 close-end-col">
                <span class="val-wrap-green">68.2/-2.54</span>
                <span class="val-wrap-green">QTY: 1</span>
              </div>
            </div>
            <div class="row close-trade-row">
              <div class="col-md-6 col-sm-6">
                <span>Sold By Trader</span>
                <span class="val-wrap-red">37079.85</span>
              </div>
              <div class="col-md-6 col-sm-6 close-end-col">
                <span>Bought By Trader</span>
                <span class="val-wrap-green">37079.85</span>
              </div>
            </div>
            <div class="row close-trade-row">
              <div class="col-md-6 col-sm-6">
                <span>24Feb, 09:21</span>
                <span class="val-wrap-green">MARKET</span>
              </div>
              <div class="col-md-6 col-sm-6 close-end-col">
                <span>24Feb, 09:21</span>
                <span class="val-wrap-green">MARKET</span>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div> -->

  </div>