<div class="popup">
	<div align="end">
		<a (click)="close()">
			<i class="icon ion-md-close dialog-close"></i>
		</a>
	</div>
	<div class="popup-title">{{trade.trading_symbol}}</div>
	<mat-dialog-content>
		{{trade | json}}
		<!-- <p class="confirm-text">Do you want to {{type}} the order <b>{{trade.trading_symbol}}</b>?</p> -->
		<button class="btn action">Exit @ {{itemTicker?.lastPrice || 0}}</button>
		<div class="col-md-12 col-sm-12" >
			<div class="row">
				<div class="col-md-6 col-sm-12 ticker-val-wrap">
					<p>Change: <span>{{itemTicker?.change || 0}}</span></p>
					<p>High: <span>{{itemTicker.ohlc?.high || 0}}</span></p>
					<p>Low: <span>{{itemTicker.ohlc?.low || 0}}</span></p>
					<p>Open: <span>{{itemTicker.ohlc?.open || 0}}</span></p>
					<p>Close: <span>{{itemTicker.ohlc?.close || 0}}</span></p>
				</div>
				<div class="col-md-6 col-sm-12 ticker-val-wrap">
					<p>Volume: <span>{{itemTicker?.volume || 0}}</span></p>
					<p>Avg Price: <span>{{itemTicker?.averagePrice || 0}}</span></p>
					<p>Buy Quantity: <span>{{itemTicker?.buyQuantity || 0}}</span></p>
					<p>Sell Quantity: <span>{{itemTicker?.sellQuantity || 0}}</span></p>
				</div>
			</div>
		</div>
	</mat-dialog-content>
	<div align="end">
		<button class="btn cancel" (click)="cancelClick()">Cancel</button>
		<button class="btn delete" (click)="tradeActionsClick()">Close</button>
	</div>
</div>