<h2 mat-dialog-title>Terms and Conditions</h2>
<mat-dialog-content class="terms-condition">
	<h5>Welcome to Crypo</h5>
	<p>
		These terms and conditions outline the rules and regulations for the use of Company Name's Website
	</p>

	<p>
		By accessing this website we assume you accept these terms and conditions. Do not continue to use Crypo if you do
		not agree to take all of the terms and conditions stated on this page.
	</p>

	<p>
		The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all
		Agreements: “Client”, “You” and “Your” refers to you, the person log on this website and compliant to the Company's
		terms and conditions. “The Company”, “Ourselves”, “We”, “Our” and “Us”, refers to our Company. “Party”, “Parties”,
		or “Us”, refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of
		payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the
		express purpose of meeting the Client's needs in respect of provision of the Company's stated services, in
		accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in
		the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring
		to same.
	</p>

	<h5>Speed &amp; Performance</h5>
	<p>Achieve the maximum speed possible on the Web Platform today, and take it further, via Web
		Workers and server-side rendering. Angular puts you in control over scalability. Meet huge
		data requirements by building data models on RxJS, Immutable.js or another push-model.</p>

	<h5>Incredible tooling</h5>
	<p>Build features quickly with simple, declarative templates. Extend the template language with
		your own components and use a wide array of existing components. Get immediate Angular-specific
		help and feedback with nearly every IDE and editor. All this comes together so you can focus
		on building amazing apps rather than trying to make the code work.</p>

	<h5>Loved by millions</h5>
	<p>From prototype through global deployment, Angular delivers the productivity and scalable
		infrastructure that supports Google's largest applications.</p>

	<h5>What is Angular?</h5>

	<p>Angular is a platform that makes it easy to build applications with the web. Angular
		combines declarative templates, dependency injection, end to end tooling, and integrated
		best practices to solve development challenges. Angular empowers developers to build
		applications that live on the web, mobile, or the desktop</p>

	<h5>Architecture overview</h5>

	<p>Angular is a platform and framework for building client applications in HTML and TypeScript.
		Angular is itself written in TypeScript. It implements core and optional functionality as a
		set of TypeScript libraries that you import into your apps.</p>

	<p>The basic building blocks of an Angular application are NgModules, which provide a compilation
		context for components. NgModules collect related code into functional sets; an Angular app is
		defined by a set of NgModules. An app always has at least a root module that enables
		bootstrapping, and typically has many more feature modules.</p>

	<p>Components define views, which are sets of screen elements that Angular can choose among and
		modify according to your program logic and data. Every app has at least a root component.</p>

	<p>Components use services, which provide specific functionality not directly related to views.
		Service providers can be injected into components as dependencies, making your code modular,
		reusable, and efficient.</p>

	<p>Both components and services are simply classes, with decorators that mark their type and
		provide metadata that tells Angular how to use them.</p>

	<p>The metadata for a component class associates it with a template that defines a view. A
		template combines ordinary HTML with Angular directives and binding markup that allow Angular
		to modify the HTML before rendering it for display.</p>

	<p>The metadata for a service class provides the information Angular needs to make it available
		to components through Dependency Injection (DI).</p>

	<p>An app's components typically define many views, arranged hierarchically. Angular provides
		the Router service to help you define navigation paths among views. The router provides
		sophisticated in-browser navigational capabilities.</p>

		<h5>Cookies</h5>

		<p>
			We employ the use of cookies. By accessing Crypo, you agreed to use
			cookies in agreement with the Crypo's Privacy Policy.
		</p>

		<p>
			Most interactive websites use cookies to let us retrieve the user's
			details for each visit. Cookies are used by our website to enable
			the functionality of certain areas to make it easier for people
			visiting our website. Some of our affiliate/advertising partners may
			also use cookies.
		</p>
		<h5>License</h5>
		<p>
			Unless otherwise stated, Company Name and/or its licensors own the
			intellectual property rights for all material on Website Name. All
			intellectual property rights are reserved. You may access this from
			Website Name for your own personal use subjected to restrictions set
			in these terms and conditions.
		</p>

		<h5>iFrames</h5>

		<p>
			Without prior approval and written permission, you may not create
			frames around our Webpages that alter in any way the visual
			presentation or appearance of our Website.
		</p>

		<h5>Content Liability</h5>
		<p>
			We shall not be hold responsible for any content that appears on
			your Website. You agree to protect and defend us against all claims
			that is rising on your Website. No link(s) should appear on any
			Website that may be interpreted as libelous, obscene or criminal, or
			which infringes, otherwise violates, or advocates the infringement
			or other violation of, any third party rights.
		</p>
		<h5>Reservation of Rights</h5>
		<p>
			We reserve the right to request that you remove all links or any
			particular link to our Website. You approve to immediately remove
			all links to our Website upon request. We also reserve the right to
			amen these terms and conditions and it's linking policy at any time.
			By continuously linking to our Website, you agree to be bound to and
			follow these linking terms and conditions.
		</p>
		<h5>Removal of links from our website</h5>
		<p>
			If you find any link on our Website that is offensive for any
			reason, you are free to contact and inform us any moment. We will
			consider requests to remove links but we are not obligated to or so
			or to respond to you directly.
		</p>
		<p>
			We do not ensure that the information on this website is correct, we
			do not warrant its completeness or accuracy; nor do we promise to
			ensure that the website remains available or that the material on
			the website is kept up to date.
		</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button class="decline-btn" (click)="onDecline()">Decline</button>
	<button mat-button class="accept-btn" (click)="onAccept()">Accept</button>
</mat-dialog-actions>


<!-- <div class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2></h2>
				<p>Welcome to Crypo</p>

				<p>
					These terms and conditions outline the rules and regulations for the
					use of Company Name's Website
				</p>

				<p>
					By accessing this website we assume you accept these terms and
					conditions. Do not continue to use Crypo if you do not agree to take
					all of the terms and conditions stated on this page.
				</p>

				<p>
					The following terminology applies to these Terms and Conditions,
					Privacy Statement and Disclaimer Notice and all Agreements:
					“Client”, “You” and “Your” refers to you, the person log on this
					website and compliant to the Company's terms and conditions. “The
					Company”, “Ourselves”, “We”, “Our” and “Us”, refers to our Company.
					“Party”, “Parties”, or “Us”, refers to both the Client and
					ourselves. All terms refer to the offer, acceptance and
					consideration of payment necessary to undertake the process of our
					assistance to the Client in the most appropriate manner for the
					express purpose of meeting the Client's needs in respect of
					provision of the Company's stated services, in accordance with and
					subject to, prevailing law of Netherlands. Any use of the above
					terminology or other words in the singular, plural, capitalization
					and/or he/she or they, are taken as interchangeable and therefore as
					referring to same.
				</p>

				<h2>Cookies</h2>

				<p>
					We employ the use of cookies. By accessing Crypo, you agreed to use
					cookies in agreement with the Crypo's Privacy Policy.
				</p>

				<p>
					Most interactive websites use cookies to let us retrieve the user's
					details for each visit. Cookies are used by our website to enable
					the functionality of certain areas to make it easier for people
					visiting our website. Some of our affiliate/advertising partners may
					also use cookies.
				</p>
				<h2>License</h2>
				<p>
					Unless otherwise stated, Company Name and/or its licensors own the
					intellectual property rights for all material on Website Name. All
					intellectual property rights are reserved. You may access this from
					Website Name for your own personal use subjected to restrictions set
					in these terms and conditions.
				</p>

				<h2>iFrames</h2>

				<p>
					Without prior approval and written permission, you may not create
					frames around our Webpages that alter in any way the visual
					presentation or appearance of our Website.
				</p>

				<h2>Content Liability</h2>
				<p>
					We shall not be hold responsible for any content that appears on
					your Website. You agree to protect and defend us against all claims
					that is rising on your Website. No link(s) should appear on any
					Website that may be interpreted as libelous, obscene or criminal, or
					which infringes, otherwise violates, or advocates the infringement
					or other violation of, any third party rights.
				</p>
				<h2>Reservation of Rights</h2>
				<p>
					We reserve the right to request that you remove all links or any
					particular link to our Website. You approve to immediately remove
					all links to our Website upon request. We also reserve the right to
					amen these terms and conditions and it's linking policy at any time.
					By continuously linking to our Website, you agree to be bound to and
					follow these linking terms and conditions.
				</p>
				<h2>Removal of links from our website</h2>
				<p>
					If you find any link on our Website that is offensive for any
					reason, you are free to contact and inform us any moment. We will
					consider requests to remove links but we are not obligated to or so
					or to respond to you directly.
				</p>
				<p>
					We do not ensure that the information on this website is correct, we
					do not warrant its completeness or accuracy; nor do we promise to
					ensure that the website remains available or that the material on
					the website is kept up to date.
				</p>
			</div>
		</div>
	</div>
</div> -->