<div>
	<mat-dialog-actions align="end">
		<div class="dialog-close"><a (click)="confirmClick()">
			<i class="icon ion-md-close"></i>
		</a></div>
	</mat-dialog-actions>

	<div mat-dialog-title class="title">{{ data.ticker.stockName}}</div>
	<mat-dialog-content [ngClass]="size">
		<div class="text-container">
		</div>
		<div class="market-trade">
			<div class="tab-content">
				<div class="market-trade-buy" *ngIf="data.type == 'buy'">
					<form>
						<div class="input-group">
							<input type="number" class="form-control" placeholder="Quantity" required />
						</div>
						<div class="input-group">
							<input type="number" value="{{ data.ticker.lastPrice}}" class="form-control" placeholder="Amount" required />
						</div>
						<p>Change: <span>{{data.ticker.change}}</span></p>
						<p>High: <span>{{data.ticker.ohlc.high}}</span></p>
						<p>Low: <span>{{data.ticker.ohlc.low}}</span></p>
						<p>Open: <span>{{data.ticker.ohlc.open}}</span></p>
						<p>Close: <span>{{data.ticker.ohlc.close}}</span></p>
						<p>Volume: <span>{{data.ticker.volume}}</span></p>
						<p>Avg Price: <span>{{data.ticker.averagePrice}}</span></p>
						<p>Buy Quantity: <span>{{data.ticker.buyQuantity}}</span></p>
						<p>Sell Quantity: <span>{{data.ticker.sellQuantity}}</span></p>
						<button type="submit" class="btn buy">Buy</button>
					</form>
				</div>

				<!-- SELL -->
				<div class="market-trade-sell" *ngIf="data.type == 'sell'">
          <form>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Quantity" required />
            </div>
            <div class="input-group">
              <input type="number" value="{{ data.ticker.lastPrice}}" class="form-control" placeholder="Amount" required />
            </div>
            
            <p>Change: <span>{{data.ticker.change}}</span></p>
						<p>High: <span>{{data.ticker.ohlc.high}}</span></p>
						<p>Low: <span>{{data.ticker.ohlc.low}}</span></p>
						<p>Open: <span>{{data.ticker.ohlc.open}}</span></p>
						<p>Close: <span>{{data.ticker.ohlc.close}}</span></p>
						<p>Volume: <span>{{data.ticker.volume}}</span></p>
						<p>Avg Price: <span>{{data.ticker.averagePrice}}</span></p>
						<p>Buy Quantity: <span>{{data.ticker.buyQuantity}}</span></p>
						<p>Sell Quantity: <span>{{data.ticker.sellQuantity}}</span></p>
            <button class="btn sell">Sell</button>
          </form>
        </div>


			</div>
		</div>


	</mat-dialog-content>
</div>