<div class="popup">

	<div class="d-flex align-items-center justify-content-between">
		<div class="popup-title">{{ itemTicker.exchange}}</div>

		<a (click)="close()">
			<i class="icon ion-md-close dialog-close"></i>
		</a>
	</div>

	<mat-dialog-content *ngIf="itemTicker">
		<div class="text-container mt-4">
			<span class="title mb-3">{{ itemTicker.stockName}}</span>
			<mat-button-toggle-group name="equityType" #group="matButtonToggleGroup" [value]="equityType"
				(change)="onValChange($event.value)">
				<mat-button-toggle value="market">
					<span class="equity-market-label"><i class="icon ion-ios-checkmark"></i></span>Market
				</mat-button-toggle>
				<mat-button-toggle value="order">
					<span class="equity-order-label"><i class="icon ion-md-time"></i></span>Limit
				</mat-button-toggle>
			</mat-button-toggle-group>
		</div>
		<div class="trade-buy mt-1" *ngIf="data.type == 'buy'">
			<form [formGroup]="tradeForm">
				<div class="input-group">
					<input type="number" class="form-control" placeholder="Quantity" formControlName="quantity"
						required />
				</div>
				<div class="input-group" *ngIf="group.value == 'order'">
					<input type="number" class="form-control" placeholder="Amount" formControlName="lastPrice"
						required />
				</div>
				<div class="col-md-12 col-sm-12 submit-btn-wrap mb-3">
					<button class="btn buy" *ngIf="group.value == 'market'"
						[disabled]="!(tradeForm.valid) || !itemTicker.lastPrice" (click)="tradeAction($event)">Buy @
						{{itemTicker.lastPrice}}</button>
					<button class="btn buy" *ngIf="group.value == 'order'" [disabled]="!(tradeForm.valid)"
						(click)="tradeAction($event);">Buy </button>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="row">
						<div class="col-md-6 col-sm-12 ticker-val-wrap">
							<p>Change: <span>{{itemTicker.change || 0}}</span></p>
							<p>High: <span>{{itemTicker.ohlc?.high || 0}}</span></p>
							<p>Low: <span>{{itemTicker.ohlc?.low || 0}}</span></p>
							<p>Open: <span>{{itemTicker.ohlc?.open || 0}}</span></p>
							<p>Close: <span>{{itemTicker.ohlc?.close || 0}}</span></p>
						</div>
						<div class="col-md-6 col-sm-12 ticker-val-wrap">
							<p>Volume: <span>{{itemTicker.volume || 0}}</span></p>
							<p>Avg Price: <span>{{itemTicker.averagePrice || 0}}</span></p>
							<p>Buy Quantity: <span>{{itemTicker.buyQuantity || 0}}</span></p>
							<p>Sell Quantity: <span>{{itemTicker.sellQuantity || 0}}</span></p>
						</div>
					</div>
				</div>

			</form>
		</div>

		<div class="trade-buy" *ngIf="data.type == 'sell'">
			<form [formGroup]="tradeForm">
				<div class="input-group">
					<input type="number" class="form-control" placeholder="Quantity" formControlName="quantity"
						required />
				</div>
				<div class="input-group" *ngIf="group.value == 'order'">
					<input type="number" class="form-control" placeholder="Amount" formControlName="lastPrice"
						required />
				</div>
				<div class="col-md-12 col-sm-12 submit-btn-wrap">
					<button class="btn sell" *ngIf="group.value == 'market'"
						[disabled]="!(tradeForm.valid) || !itemTicker.lastPrice" (click)="tradeAction($event)">Sell @
						{{itemTicker.lastPrice}}</button>
					<button class="btn sell" *ngIf="group.value == 'order'" [disabled]="!(tradeForm.valid)"
						(click)="tradeAction($event)">Sell</button>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="row">
						<div class="col-md-6 col-sm-12 ticker-val-wrap">
							<p>Change: <span>{{itemTicker.change || 0}}</span></p>
							<p>High: <span>{{itemTicker.ohlc?.high || 0}}</span></p>
							<p>Low: <span>{{itemTicker.ohlc?.low || 0}}</span></p>
							<p>Open: <span>{{itemTicker.ohlc?.open || 0}}</span></p>
							<p>Close: <span>{{itemTicker.ohlc?.close || 0}}</span></p>
						</div>
						<div class="col-md-6 col-sm-12 ticker-val-wrap">
							<p>Volume: <span>{{itemTicker.volume || 0}}</span></p>
							<p>Avg Price: <span>{{itemTicker.averagePrice || 0}}</span></p>
							<p>Buy Quantity: <span>{{itemTicker.buyQuantity || 0}}</span></p>
							<p>Sell Quantity: <span>{{itemTicker.sellQuantity || 0}}</span></p>
						</div>
					</div>
				</div>

			</form>
		</div>

	</mat-dialog-content>
</div>